*{
    margin: 0 ;
}
body{
   margin: 0 5%;
    background-color : 	lemonchiffon;
}
h1.about{
    border-left : 8px solid ;
    border-color : turquoise;
}
li{
    float: right;
    display: inline;
}
a{
    display: block;
    padding: 8px
}
nav{
    padding: 10%;
    top:    0;
    width:  50%;
    height: 75px;
    line-height: 40px;
    padding: 0px 100px;
    position: fixed;
}
.logo{
    margin-top: 8px;
    font-size:100px;
    font-weight: bold;
    letter-spacing: 3.5px;
}
nav .logo p{
    margin-top: 25px;
    float: left;
    color: black;
    text-transform: uppercase;
}
nav,ul,li,a {
    color: black;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
}
ul{
    float: right;
     list-style: none;
 }
.twt{
        margin-top: 0%;
        float: left;
        padding-top: 20px;
        padding-left: 120px;
    }
    a:hover{
        color:brown
    }